# K-Nearest classification, K-Nearest regression and K-Means clustering

In [245]:
import pandas as pd
from os import listdir

# Data files are available in the "../data/" directory
# For example, running this will list all files under the data directory

cur_dir = os.path.abspath('')
data_dir = "%s\\data" % cur_dir

for dirname, _, filenames in os.walk(data_dir):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\Ievgen_Petrash\Save_it\ML\Education\ML_&_Data_Science_-_Python_Practical_Hands-on\repo\knn_classification_regression_and_k_means_clustering\data\iris-flowers.csv
C:\Users\Ievgen_Petrash\Save_it\ML\Education\ML_&_Data_Science_-_Python_Practical_Hands-on\repo\knn_classification_regression_and_k_means_clustering\data\second-hand-used-cars.csv

### K-Nearest classification:
The task is to create classification model to determine the exact species of the iris flowers based on the given parameters

In [246]:
iris_flowers_filename = "iris-flowers.csv"
iris_flowers = pd.read_csv("%s\%s" % (data_dir, iris_flowers_filename))

In [247]:
iris_flowers.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

* <ins>Validate the data and leave only essential fields</ins>

In [248]:
iris_flowers = iris_flowers.drop(['Id'], axis=1)

In [249]:
iris_flowers.isnull().any()

SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

* <ins>Split data to train DataFrame and test Series:</ins>

In [250]:
from sklearn.model_selection import train_test_split

In [251]:
#target
y = iris_flowers['Species']
#features:
X = iris_flowers.drop(['Species'], axis=1)

In [252]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

* <ins>Validate correct spliting:</ins>

In [253]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0] 
assert X_train.shape[1] == X_test.shape[1]

(105, 4)
(105,)
(45, 4)
(45,)

* <ins>Train model:</ins>

In [254]:
from sklearn.neighbors import KNeighborsClassifier

In [255]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

* <ins>Get prediction:</ins>

In [256]:
predictions = model.predict(X_test)

* <ins>Validate model's prediction (accuracy_score, confusion_matrix):</ins>

In [257]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [258]:
# K1 accuracy 91-100%
# K3 accuracy 86-97%
# K3 accuracy 91-100%
accuracy_score(y_test, predictions)

0.9777777777777777

In [259]:
confusion_matrix(y_test, predictions)

array([[15,  0,  0],
       [ 0, 17,  0],
       [ 0,  1, 12]], dtype=int64)

### K-Nearest regression
The task is to create model to used car price based on the given parameters

In [260]:
second_hand_used_cars_filename = "second-hand-used-cars.csv"
second_hand_used_cars = pd.read_csv("%s\%s" % (data_dir, second_hand_used_cars_filename))

In [261]:
second_hand_used_cars.head(10)

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5
5,6,650007,844846,6,148846,2,9,13,138,61,109,177933.5
6,7,633344,756063,5,78025,1,9,15,171,94,132,410877.0
7,8,662990,891569,6,76546,1,2,12,146,109,96,467471.5
8,9,543184,841354,7,57662,4,7,14,151,50,132,462397.5
9,10,573043,879481,2,132347,2,3,12,200,115,82,197266.0

* <ins>Validate the data, find the corelation and leave only essential fields:</ins>

In [262]:
second_hand_used_cars.isnull().any()

v.id             False
on road old      False
on road now      False
years            False
km               False
rating           False
condition        False
economy          False
top speed        False
hp               False
torque           False
current price    False
dtype: bool

In [263]:
second_hand_used_cars.corr()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
v.id,1.000000,-0.029926,-0.030787,-0.034255,0.047400,-0.018263,-0.038548,0.047137,0.001613,-0.006997,-0.000632,-0.059460
on road old,-0.029926,1.000000,0.034113,0.007207,0.007488,-0.050717,-0.015682,-0.030097,-0.023816,-0.049266,0.008950,0.233035
on road now,-0.030787,0.034113,1.000000,0.004609,-0.053202,0.028280,-0.005043,-0.015880,0.012699,-0.012719,0.017955,0.282793
years,-0.034255,0.007207,0.004609,1.000000,-0.002089,0.027285,0.053579,0.050220,0.025148,-0.003272,0.028859,-0.011854
km,0.047400,0.007488,-0.053202,-0.002089,1.000000,-0.039930,-0.013640,0.032680,0.026450,-0.052918,0.013566,-0.935924
rating,-0.018263,-0.050717,0.028280,0.027285,-0.039930,1.000000,0.015943,-0.009757,-0.042222,-0.022623,0.004408,0.035038
condition,-0.038548,-0.015682,-0.005043,0.053579,-0.013640,0.015943,1.000000,0.058788,0.018472,-0.071552,0.047805,0.110108
economy,0.047137,-0.030097,-0.015880,0.050220,0.032680,-0.009757,0.058788,1.000000,-0.059402,-0.016782,0.041632,-0.034711
top speed,0.001613,-0.023816,0.012699,0.025148,0.026450,-0.042222,0.018472,-0.059402,1.000000,0.057827,-0.019697,-0.027993
hp,-0.006997,-0.049266,-0.012719,-0.003272,-0.052918,-0.022623,-0.071552,-0.016782,0.057827,1.000000,-0.013817,0.030238
torque,-0.000632,0.008950,0.017955,0.028859,0.013566,0.004408,0.047805,0.041632,-0.019697,-0.013817,1.000000,-0.002290
current price,-0.059460,0.233035,0.282793,-0.011854,-0.935924,0.035038,0.110108,-0.034711,-0.027993,0.030238,-0.002290,1.000000

In [264]:
second_hand_used_cars.drop('v.id', axis=1, inplace=True)

* <ins>Split data to train DataFrame and test Series:</ins>

In [265]:
#target:
y = second_hand_used_cars['current price']
#features:
X = second_hand_used_cars.drop(['current price'], axis=1)

In [266]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

* <ins>Validate correct spliting:</ins>

In [267]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0] 
assert X_train.shape[1] == X_test.shape[1]

(700, 10)
(700,)
(300, 10)
(300,)

* <ins>Train model:</ins>

In [268]:
from sklearn.neighbors import KNeighborsRegressor

In [269]:
# Change n_neighbors value here and validate the MAE (below) 
model = KNeighborsRegressor(n_neighbors=3)
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=2,
          weights='uniform')

* <ins>Get prediction:</ins>

In [270]:
predictions = model.predict(X_test)

* <ins>Validate model's prediction (MAE):</ins>

In [271]:
from sklearn.metrics import mean_absolute_error

In [272]:
# MAE (mean absolute error) has to be as less as posible
# n_neighbors=1 -----> MAE == 26962.536666666667
# n_neighbors=2 -----> MAE == 26962.536666666667
# n_neighbors=3 -----> MAE == 21688.485555555555
mean_absolute_error(y_test, predictions)

23611.745555555557